# dependencies
/node_modules
/.pnp
.pnp.js
/.idea
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules
/.pnp
.pnp.js

# Build directories and output
/dist
/build
/public/build

# Production bundle
*.bundle.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# CRA specific
/.cache
/temp
.idea
.vscode
/.parcel-cache
.parcel-cache/

# Testing
/coverage
/test-results
/junit.xml

# IDE specific
/.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Built react files
*.css.map
*.js.map

# Miscellaneous
*.swp
*.bak
*.orig
*.tmp
*.old

# Storybook
out
.stories/

# Temporary folders
/tmp
/temp

# Unspecific backups
*~

# React Native specific
.expo/
.nyc_output/
.expo-shared/

# Firebase cache
.firebase/

# Lint cache
.eslintcache
.stylelintcache

# Next.js
.next/

# Nuxt.js
.nuxt/

# Gatsby files
.cache/
public

# Parcel cache directory
.cache/

# SvelteKit
.svelte-kit/

# Miscellaneous
.sourcemaps
cache/